<!DOCTYPE html>
  <html>
    <head>
      <title>get Number</title>
      <meta charset="UTF-8">
    </head>
    <body>
    <h1> Ваш отсортированый массив</h1>

    <div>[
    {{#each sortedNumb}}
      <spun>{{this}},</spun>
    {{/each}}
    ]</div>
    <div> теперь он доступен на первой странице</div>
<a style='margin: 40px;' href="/">Вернутся</a>

  </body>
</html>